@import "tailwindcss";

:root {
  --foreground: #111018;
  --background: #f7f7f7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #111018;
  }
} */

@theme inline {
  --color-primary: #ea577f;
  --color-secondary: #dfdfdf;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bricolage-grotesque);
  --font-alt: var(--font-space-grotesk);
  --radius-5xl: 2.5rem;
  --animate-infinite-scroll: infinite-scroll 35s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
