@import "tailwindcss";

@layer base {
  :root {
    --foreground: #111018;
    --background: #f7f7f7;
    color-scheme: light only !important;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #f7f7f7;
      --background: #111018;
      color-scheme: dark only !important;
    }
  }
}

@theme inline {
  --color-primary-50: #fef2f5;
  --color-primary-100: #f9d7e1;
  --color-primary-200: #f4b3c4;
  --color-primary-300: #ee8fa7;
  --color-primary-400: #e96b8a;
  --color-primary-500: #ea577f;
  --color-primary-600: #d9456f;
  --color-primary-700: #c43d63;
  --color-primary-800: #b13557;
  --color-primary-900: #9e2e4d;
  --color-accent-100: #ead9f4;
  --color-accent-200: #d5b3e9;
  --color-accent-300: #c08dde;
  --color-accent-400: #ab67d3;
  --color-accent-500: #9641c8;
  --color-accent-600: #7834a0;
  --color-accent-700: #5a2778;
  --color-accent-800: #3c1a50;
  --color-accent-900: #1e0d28;
  --color-secondary: #dfdfdf;
  --color-muted-foreground: #111018ee;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-display);
  --font-alt: var(--font-text);
  --radius-5xl: 2.5rem;
  --animate-infinite-scroll: infinite-scroll 35s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}
